<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<property name="pattern_txt">
     %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5}- %msg%n
     </property>
		<property name="pattern_console">
		%d{MM-dd HH:mm:ss} [%t] %-5level %logger{1}- %msg%n
		 </property>
		</Properties>
	<Appenders>
		<File name="file" fileName="logs/text.log" bufferedIO="true" append="false">
			<PatternLayout pattern="${pattern_txt}"/>
		</File>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern_console}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<appender-ref ref="file" level="info" />
			<appender-ref ref="console" level="debug" />
		</Root>
	</Loggers>
</Configuration>